body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;

    width: 100%;
    height: 100%;
    --s: 6em;
    --d: 0.3em;
    --bg: #232228;
    --fg: rgb(90, 92, 102);
    background-color: var(--bg);
    background-image: radial-gradient(var(--d) var(--d) at var(--d) var(--d),
            var(--fg) 100%,
            transparent 100%),
        radial-gradient(var(--d) var(--d) at var(--d) calc(var(--d) + 33.3%),
            var(--fg) 100%,
            transparent 100%),
        radial-gradient(var(--d) var(--d) at calc(var(--d) + 50%) calc(var(--d) + 50%),
            var(--fg) 100%,
            transparent 100%),
        radial-gradient(var(--d) var(--d) at calc(var(--d) + 50%) calc(var(--d) + 83.3%),
            var(--fg) 100%,
            transparent 100%);
    background-size: calc(var(--s) * 0.577350269) var(--s);
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d6d6d6;
    font-size: 70px;
    text-shadow: 1px 1px 8px #d6d6d6;
}
